@import url('https://fonts.cdnfonts.com/css/minecraft-4');
.play-to-survive-link{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.play-with-friends-link{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.play-to-create1{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.play-to-create2{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.play-to-create3{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.brl1{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.brl2{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.brl3{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.brl4{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.survive1{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.survive2{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.survive3{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.survive4{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.redstone1{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.redstone2{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.redstone3{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}
.redstone4{
    font-size: 30px;
    font-family: 'Minecraft', sans-serif;
}